{# {% for fruit in fruits %} #}
{# on commence une boucle, affiche chaque fruit de fruits #}

{# {{fruit}} #}
{# on affiche chaque fruit  #}
{# 
{% endfor %} #}
{# marque la fin de la boucle #}



<h1 style="color: red;">{{datas['title']}}</h1>

<h2>{{datas['desc']}}</h2>

{# {{dump(title,desc)}} #}

